/*
    Reset
*/

html,
body,
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-----------------------------------------------------------------------------*/

@font-face {
    font-family: Saiyan-Sans;
    src: url(../fonts/Saiyan-Sans.ttf);
}


body {
    background-color: #171314;
    font-family: 'Roboto', 'sans-serif';
}

.wrapper {
    margin: .6em;
}

.header {
    margin-top: 2em;
    text-align: center;
}

.header__title,
.header__subtitle--dragon-ball {
    font-family: 'Saiyan-Sans';
}

.header__title {
    font-size: 8em;
    text-transform: uppercase;
}

.header__title--ki {
    color: #f7ff00;
}

.header__title--o {
    color: #f7a100;
}

.header__title--ku {
    color: #ff0000;
}

.header__subtitle {
    color: #fff;
    font-size: 2em;
}




/*
.header__title--memory {
    color: #f7ff00;
}

.header__title--o {
    color: #f7a100
}

.header__title--game {
    color: #ff0000;
*/

}

/*
    -----------------------------------------
    -----------------------------------------
                    AUDIO
    -----------------------------------------
    -----------------------------------------
*/

.audio {
    display: none;
}

/*
    -----------------------------------------
    -----------------------------------------
                    KEYFRAMES
    -----------------------------------------
    -----------------------------------------
*/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes shakeIt {
    0% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    50% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }
    80% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
}

@keyframes shakeIt {
    0% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    50% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }
    80% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
}

@-webkit-keyframes scaleInOut {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    25% 25% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }

    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    75% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleInOut {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    25% 25% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }

    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    75% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/*
    -----------------------------------------
    -----------------------------------------
                    BAR
    -----------------------------------------
    -----------------------------------------
*/

.bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2em;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: #fff;
}

.bar > * {
    font-size: 1em;
    -ms-flex-item-align: center;
    align-self: center;
}

.bar__time {
    font-size: 2em;
}

/*.bar__restart:hover,*/
.modal__x:hover,
.modal__btn:hover {
    cursor: pointer;
}

.fa,
.fas,
.fa-star,
.fa-redo,
.fa-redo-alt {
    color: #ff0000;
}

/*
    -----------------------------------------
    -----------------------------------------
                    CARDS
    -----------------------------------------
    -----------------------------------------
*/

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2em;
    width: 100%;
}

.card {
    margin: 1em;
    max-width: 100%;
}

.flip-container {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

/* flip card on hover */


.flip-container:hover {
    cursor: pointer;
}


.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container.hover-back .flipper {
    transform: rotateY(-180deg);
} 

.flip-container,
.card__front,
.card__back {
    width: 6.5em;
    height: 6.5em;
    border-radius: 6em;
}

/* flip speed */

.flipper {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* hide card__back during the swap */

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border: 6px solid #000;
}

/* place card__front above card__back */

.card__front {
    z-index: 2;
    /* for firefox 31 */
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: radial-gradient(circle, #f3ea01, #f3ac00, #f4911a, #f4911a);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*border: 6px solid #f3ea01;*/
}

.card__star {
    font-size: 2em;
    -ms-flex-item-align: center;
    align-self: center;
    color: #F74031;
}

.card__front span,
.card__back span {
    font-size: 2em;
}

/* hide card__back since the beginning */

.card__back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: #ff9800;
}

.card__sprite {
    -webkit-transform: scale(1.8);
    position: relative;
    top: 24%;
    left: 35%;
    max-width: 30%;
}

.card__sprite--cell {
    -webkit-transform: scale(1.6);
}

.card__sprite--frieza {
    -webkit-transform: scale(2.4);
    top: 12%;
    left: 45%;
}

.card__sprite--kame {
    left: 30%;
    max-width: 50%;
}

.card__sprite--trunks {
    top: 20%;
    left: 30%;
    max-width: 50%;
}

.card__sprite--piccolo {
    left: 30%;
    max-width: 40%;
}

.scale-animation {
    -webkit-animation-name: scaleInOut;
    animation-name: scaleInOut;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

.shake-animation {
    -webkit-animation-name: shakeIt;
    animation-name: shakeIt;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.change-back-color {
    background: #009f00;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/*
.span--hide,
.card__letter {
    display: none;
}
*/


/*
    -----------------------------------------
    -----------------------------------------
                    MODAL
    -----------------------------------------
    -----------------------------------------
*/

.modal {
    display: none;
    /*
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
*/
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /* take full page */
    height: 100%;
    /* take full page */
    background-color: rgba(0, 0, 0, 0.5);
    /* opaque */
    -webkit-box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2);
}

.modal__content {
    width: 80%;
    height: 70%;
    border-radius: 0.5em;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5em auto;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #ddd;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    background-color: #f7b056;
    /* fallback */
    background-color: #efae56;
    -webkit-box-shadow: 0 0 0 1px #000,
    0 0 0 10px #ad0000,
    0 0 0 1px #000;
    box-shadow: 0 0 0 1px #000,
    0 0 0 10px #ad0000,
    0 0 0 1px #000;
}

.modal__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2em;
    font-weight: 600;
}

.modal__h2 {
    font-size: 1.6em;
}

.modal__x {
    /* outline: 1px solid #000;*/
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-weight: 800;
    font-size: 2em;
}

.modal__text {
    margin-top: 2em;
    text-align: center;
    color: #000;
}

.modal__btn {
    margin-top: 3em;
    padding: .5em;
    font-size: 1em;
    background: #009f00;
    color: #f5f5f5;
    font-weight: 600;
    border-radius: 6px;
    max-width: 100%;
    -ms-flex-item-align: center;
    align-self: center;
}

.user__moves,
.user__stars,
.user__time,
.user__final-score {
    font-weight: 800;
}

.hoverable {
    cursor: pointer;
}

/*
    -----------------------------------------
    -----------------------------------------
                    MEDIA QUERIES
    -----------------------------------------
    -----------------------------------------
*/

/*
@media screen and (min-width: 350px) {
}
*/

@media screen and (min-width: 400px) {
    .card__sprite--piccolo {
        max-width: 45%;
    }

    .modal__content {
        max-width: 350px;
    }

    .modal__text {
        font-size: 1.2em;
    }
    .flip-container,
    .card__front,
    .card__back {
        width: 6.8em;
        height: 6.8em;
    }
}

@media screen and (min-width: 420px) {
    .header__title {
        font-size: 8.5em;
    }    
    .header__subtitle {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 500px) {
    .header__title {
        font-size: 14em;
    }
    .flip-container,
    .card__front,
    .card__back {
        width: 7em;
        height: 7em;
    }
}


@media screen and (min-width: 650px) {
    .wrapper {
        max-width: 650px;
        margin: 0 auto;
    }
    .flip-container,
    .card__front,
    .card__back {
        width: 8em;
        height: 8em; //border-radius: 6em;
    }
}