/*
    Reset
*/

html,
body,
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-----------------------------------------------------------------------------*/

body {
    //background: #ffbfbf;
}


/*
    -----------------------------------------
    -----------------------------------------
                    BAR
    -----------------------------------------
    -----------------------------------------
*/
.bar__restart {
    padding: 1em;
}
.bar__restart:hover {
    cursor: pointer;
}
.fa-star {
    color: #333;
}



/*
    -----------------------------------------
    -----------------------------------------
                    CARDS
    -----------------------------------------
    -----------------------------------------
*/
.cards {
    border: 1px solid black;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
.flip-container {
    perspective: 1000px;
    border: 2px solid black;
    margin: 0;
}

/* flip card on hover */
.flip-container:hover {
    cursor: pointer;
}
.flip-container.hover .flipper{
    transform: rotateY(180deg);
}
/* .flip-container.hover-back .flipper {
    transform: rotateY(-180deg);
} */

.flip-container,
.card__front,
.card__back {
    width: 150px;
    height: 150px;
    border-radius: 6px;
}

/* flip speed */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide card__back during the swap */
.card__front,
.card__back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* place card__front above card__back */
.card__front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background: pink;
}
.card__front span,
.card__back span {
    font-size: 2em;
}
.card__back span {
    color: #fff;
}
/* hide card__back since the beginning */
.card__back {
    transform: rotateY(180deg);
    background: brown;
}

/* .span--hide {
    display: none;
} */